APP_NAME="KIGC"
APP_ENV=production
APP_KEY=base64:OQRda9upQhXzE0qAZGX/1MI9j4rDkcuU/xiRnLKLEsU=
APP_DEBUG=false
APP_URL=https://klgc.christianwritersuganda.org

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=u289524437_klgc
DB_USERNAME=u289524437_klgc
DB_PASSWORD=07na4kZ8p12xU5xK

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=ojeelesam@gmail.com
MAIL_PASSWORD=josampatent123
MAIL_FROM_ADDRESS=noreply@kigc.com
MAIL_FROM_NAME="KIGC Church"

SESSION_DRIVER=cookie
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
